In [22]:
import pandas as pd

refs_df = pd.read_csv("../data/refs.csv")

refs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113818 entries, 0 to 113817
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           113818 non-null  int64
 1   paper_id             113818 non-null  int64
 2   raw                  113775 non-null  object
 3   context              113818 non-null  object
 4   sentence_id          113818 non-null  object
 5   sentence_seq_number  113818 non-null  int64
 6   author               84537 non-null   object
 7   page                 22238 non-null   float64
 8   year                 85574 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 7.8+ MB

In [23]:
mises_refs_df = refs_df[refs_df.author == 'Mises'].sort_values(by='page')

mises_refs_df.head(100)

,Unnamed: 0,paper_id,raw,context,sentence_id,sentence_seq_number,author,page,year
54393,54393,496,"(Mises [ ] 1958, 1), 1)","The mode of acquiring and studying knowledge, ...",_uYxfp4v,70,Mises,1.0,1958.0
10218,10218,83,"(Mises 2009, 1-2)","By the time he finished his studies, however, ...",_Hj38fKX,117,Mises,1.0,2009.0
13769,13769,113,"Mises (2011, 1-44)","In a world of national fiat currencies, a bala...",_veSeZAM,63,Mises,1.0,2011.0
50557,50557,449,"(Mises 2011, 1","Interventionism, for its part, ""seeks to retai...",_4GTtg6k,352,Mises,1.0,2011.0
54619,54619,496,"Mises's (1962, 1)","Indeed, the logical structure of the human min...",_HqKRYuG,367,Mises,1.0,1962.0
...,...,...,...,...,...,...,...,...,...
111664,111664,1035,"Mises (2012, chap. 11)","Mises (2012, chap. 11) was crystal clear on th...",_FrAJJsu,73,Mises,11.0,2012.0
73311,73311,689,Mises (1963: 11),"Action, as Mises (1963: 11) explains, ""is will...",_A9jCScY,96,Mises,11.0,1963.0
64230,64230,599,"Mises (2007, p. 11)","Mises (2007, p. 11) illustrates: ""There is a s...",_TVPZBp3,218,Mises,11.0,2007.0
73358,73358,689,(Mises 1963: 11),"Having defined human action as ""the ego's mean...",_PQGrz6s,310,Mises,11.0,1963.0
10064,10064,82,"(Mises 1984, 12)","Here the ""matter in dispute was… whether there...",_C2J3Rs7,100,Mises,12.0,1984.0

In [24]:
import pandas as pd

# Lê o arquivo assumindo que é separado por vírgulas
human_action_page_ranges_df = pd.read_csv("chapter-ranges/human-action-page-to-chapter.txt")

human_action_page_ranges_df.head()

   start_page  end_page  chapter
0           1        11        0
1          11        30        1
2          30        72        2
3          72        92        3
4          92        99        4

In [25]:
def get_human_action_chapter_by_page(page):
    row = human_action_page_ranges_df[
        (human_action_page_ranges_df['start_page'] <= page) &
        (human_action_page_ranges_df['end_page'] >= page)
    ]
    if not row.empty:
        return int(row.iloc[0]['chapter'])
    else:
        return None  # ou você pode retornar "Desconhecido", -1, etc.

assert get_human_action_chapter_by_page(111)

In [26]:
mises_refs_df['human_action_chapter_by_ref_page'] = mises_refs_df['page'].apply(get_human_action_chapter_by_page)

mises_refs_df.to_csv("../data/mises_refs.csv")