In [1]:
import pandas as pd

citations_df = pd.read_csv("../data/processed/citations.csv")

citations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265726 entries, 0 to 265725
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   paper_id              265726 non-null  int64
 1   raw                   265644 non-null  object
 2   context               265726 non-null  object
 3   co_cited_count        265726 non-null  int64
 4   section_id            259027 non-null  object
 5   paragraph_id          265684 non-null  object
 6   sentence_id           265726 non-null  object
 7   sentence_seq_number   265726 non-null  int64
 8   reference_seq_number  265726 non-null  int64
 9   author                227628 non-null  object
 10  page                  74403 non-null   float64
 11  year                  222883 non-null  float64
 12  title                 265726 non-null  object
 13  filename              265726 non-null  object
 14  sentence_count        265726 non-null  int64
 15  reference_count       265726 non-null  int64
 16  source title          237907 non-null  object
 17  similarity            265726 non-null  float64
dtypes: float64(3), int64(6), object(9)
memory usage: 36.5+ MB

In [2]:
citations_df.head()

,paper_id,raw,context,co_cited_count,section_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,page,year,title,filename,sentence_count,reference_count,source title,similarity
0,1,Streissler (1972),"In particular, as the classic contributions of...",0,_gzuY8cP,_NwgSU35,_TMX2wdg,4,1,Streissler,NaN,1972.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
1,1,"(Menger, [1981] 1871, p. 49)",The final two paragraphs of the preface are a ...,1,_NytzfyY,_Z99Bvn5,_aJz9uAb,10,2,Menger,49.0,1981.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
2,1,"1871, p. 49)",The final two paragraphs of the preface are a ...,1,_NytzfyY,_Z99Bvn5,_aJz9uAb,10,3,NaN,49.0,1871.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
3,1,"(Menger, [1981] 1871, p. 48)",He also goes to some length in the preface to ...,0,_NytzfyY,_Z99Bvn5,_54sgkMV,11,4,Menger,48.0,1981.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
4,1,Menger's (1985Menger's ( [1883] ] ),A detour into Menger's (1985Menger's ( [1883] ...,0,_NytzfyY,_ZYekVnE,_F7mv66u,16,5,Menger,NaN,1883.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444

In [3]:
citations_df['author'].value_counts().head(10)

author
Mises         7754
Hayek         6281
Kirzner       3013
Rothbard      2647
Schumpeter    1992
Boettke       1629
Buchanan      1485
Smith         1404
Menger        1290
Foss          1289
Name: count, dtype: int64

In [4]:
mises_citations_df = citations_df[citations_df.author == 'Mises'].sort_values(by='page')

mises_citations_df.head(10)

,paper_id,raw,context,co_cited_count,section_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,page,year,title,filename,sentence_count,reference_count,source title,similarity
95362,834,"(Mises, 1996(Mises, [1949]], p. 1)",The practitioners of methodological holism are...,0,_4dGvzna,_97b4QYq,_dz5ekbM,96,47,Mises,1.0,1949.0,AN AUSTRIAN APPROACH TO CLASS STRUCTURE,10.1108.S1529-213420150000019009.pdf.grobid.te...,367,43,Advances in Austrian Economics,100.000000
196231,1842,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_yCU3SGE,_h8VDttU,_5k2NTcp,352,148,Mises,1.0,2011.0,Is the Austrian School Value-Free? On the Depe...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000
132474,1197,Mises (1944: 1-19),"Indeed, Mises (1944: 1-19) explicitly cites th...",0,_ThHCvKg,_xKvBxdX,_EndqMMB,3399,1633,Mises,1.0,1944.0,THE DARK SIDE OF MANAGEMENT,10.4324.9781315754581.pdf.grobid.tei.xml,3855,337,Knowledge Management and Organizational Learning,76.923077
132511,1197,"Mises, 1944: 1-19)","(Lippmann, 1938(Lippmann, /1943: 263;: 263; em...",3,_W7w3J4K,_FXcX2C6,_mpaD3bx,3456,1675,Mises,1.0,1944.0,THE DARK SIDE OF MANAGEMENT,10.4324.9781315754581.pdf.grobid.tei.xml,3855,337,Knowledge Management and Organizational Learning,76.923077
202393,1920,"Mises's (1962, 1)","Indeed, the logical structure of the human min...",0,_JRV4vR4,_K4EEPwH,_kzagVzN,367,282,Mises,1.0,1962.0,Ludwig von Mises on the epistemological founda...,Ludwig-von-Mises-on-the-epistemological-founda...,533,66,Review of Austrian Economics,100.000000
156079,1392,"Mises (2011, 1-44)","In a world of national fiat currencies, a bala...",0,_GTA3FR2,_j2yjvbt,_QhFwbBe,63,16,Mises,1.0,2011.0,Austrian Monetary Theory: Comment on Pascal Sa...,Austrian-Monetary-Theory-Comment-on-Pascal-Sal...,91,22,Quarterly Journal of Austrian Economics,98.245614
27884,90,"( Mises, [1949] 2008, pp.1)",The centerpiece of the Austrian school is the ...,0,_q27W6tg,_KvWq5aw,_jCjH8qA,21,9,Mises,1.0,1949.0,Unknown Title,10.1007.978-3-658-07077-9.pdf.grobid.tei.xml,1435,52,Review of Austrian Economics,44.444444
41267,237,"Mises's (1962, 1)","Indeed, the logical structure of the human min...",0,_3gaD7Wa,_4sGu8jS,_X2R8mvd,367,282,Mises,1.0,1962.0,Ludwig von Mises on the epistemological founda...,10.1007.s11138-008-0046-4.pdf.grobid.tei.xml,533,66,Review of Austrian Economics,100.000000
202918,1925,"Mises (1928, 1, 3, 41-42)",In his 1928 publication Geldwertstabilisierung...,0,_zn378vU,_kd2BNYB,_qyXMvmc,92,29,Mises,1.0,1928.0,Ludwig von Mises's Outstanding Position in Eco...,Ludwig-von-Misess-Outstanding-Position-in-Econ...,327,30,Quarterly Journal of Austrian Economics,98.333333
116004,1111,"Mises (1998, 1)",The Arrow Theorem gave birth to a rich literat...,0,_PVK6Qnz,_xRbChZ3,_8JVpeTd,134,20,Mises,1.0,1998.0,Unknown Title,10.1515.jeeh-2016-0013.pdf.grobid.tei.xml,267,49,Review of Austrian Economics,44.444444

In [5]:
import pandas as pd

# LÃª o arquivo assumindo que Ã© separado por vÃ­rgulas
human_action_page_ranges_df = pd.read_csv("chapter-ranges/human-action-page-to-chapter.txt")

human_action_page_ranges_df.head()

   start_page  end_page  chapter
0           0        11        0
1          11        30        1
2          30        72        2
3          72        92        3
4          92        99        4

In [6]:
def get_human_action_chapter_by_page(page):
    row = human_action_page_ranges_df[
        (human_action_page_ranges_df['start_page'] <= page) &
        (human_action_page_ranges_df['end_page'] >= page)
    ]
    if not row.empty:
        return int(row.iloc[0]['chapter'])
    else:
        return "WHOLE"  # ou vocÃª pode retornar "Desconhecido", -1, etc.

assert get_human_action_chapter_by_page(111) == 6
assert get_human_action_chapter_by_page(None) == 'WHOLE'

In [7]:
mises_citations_df['human_action_chapter_by_ref_page'] = mises_citations_df['page'].apply(get_human_action_chapter_by_page)
mises_citations_df['human_action_chapter_number'] = mises_citations_df['human_action_chapter_by_ref_page']

In [8]:
chapter_to_part_df = pd.read_csv("chapter-ranges/chapter-to-part.csv")

chapter_to_part_df.head()

,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
0,WHOLE,WHOLE,WHOLE,WHOLE
1,0,Chapter 0: Introduction,0,Part 0: Introduction
2,1,Chapter 1: Acting Man,1,Part 1: Human Action
3,2,Chapter 2: The Epistemological Problems of the...,1,Part 1: Human Action
4,3,Chapter 3: Economics and the Revolt Against Re...,1,Part 1: Human Action

In [9]:
import pandas as pd

# ðŸ”§ ForÃ§a os campos de join para string em ambos os DataFrames
mises_citations_df["human_action_chapter_number"] = (
    mises_citations_df["human_action_chapter_number"].astype(str)
)

chapter_to_part_df["human_action_chapter_number"] = (
    chapter_to_part_df["human_action_chapter_number"].astype(str)
)

# ðŸ”— Join usando merge
mises_citations_df = pd.merge(
    mises_citations_df,
    chapter_to_part_df,
    on="human_action_chapter_number",
    how="left"
)

# âœ… Existem pelo menos 2 valores de part distintos?
assert (
    mises_citations_df["human_action_part_number"]
    .nunique(dropna=True) >= 2
), "human_action_part_number nÃ£o possui pelo menos dois valores distintos"

In [10]:
mises_citations_df[mises_citations_df.human_action_chapter_number == 'WHOLE'].head()

,paper_id,raw,context,co_cited_count,section_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,...,filename,sentence_count,reference_count,source title,similarity,human_action_chapter_by_ref_page,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
4677,2641,"Mises (1996, p. 884)","As Mises (1996, p. 884) states, 'To apply the ...",0,_vFKWFVS,_XnRFPBN,_wkb2U7y,69,32,Mises,...,Value-neutrality-and-the-question-of-ends-in-t...,423,99,Journal of Philosophical Economics: Reflection...,100.000000,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4678,927,(Mises [1949] 1966: 884),(Mises [1949] 1966: 884) Examining Rothbard's ...,0,_AYtGrJf,_yHKtjZB,_f6G6n6C,157,29,Mises,...,10.1111.j.1536-7150.2005.00397.x.pdf.grobid.te...,294,16,American Journal of Economics and Sociology,62.040816,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4679,760,"(von Mises, 1963, p. 884, emphasis in original)","(von Mises, 1963, p. 884, emphasis in original).",0,_gYvKv4K,_XcTWZtR,_bPTKVT8,104,54,Mises,...,10.1108.09513570910923033.pdf.grobid.tei.xml,380,144,"Accounting, Auditing and Accountability Journal",100.000000,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4680,1916,"(Mises 1966, p. 885)",But if they fail to take the best advantage of...,0,_d8gUVsx,_9SgqNxV,_3M2ZJMN,144,38,Mises,...,Ludwig-von-Mises-and-the-Austrian-School-of-Ec...,292,14,Review of Austrian Economics,44.444444,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4681,639,"(Mises, 1998a, p. 885)","(Mises, 1998a, p. 885) Mises criticizes the ec...",0,_gr85Qfe,_4VXf7a9,_hAmUGp5,86,20,Mises,...,10.1080.0953825042000313825.pdf.grobid.tei.xml,671,58,Review of Political Economy,80.487805,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE

In [11]:
mises_citations_df.to_csv("../data/processed/mises_citations.csv")

In [12]:
mises_citations_df

,paper_id,raw,context,co_cited_count,section_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,...,filename,sentence_count,reference_count,source title,similarity,human_action_chapter_by_ref_page,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
0,834,"(Mises, 1996(Mises, [1949]], p. 1)",The practitioners of methodological holism are...,0,_4dGvzna,_97b4QYq,_dz5ekbM,96,47,Mises,...,10.1108.S1529-213420150000019009.pdf.grobid.te...,367,43,Advances in Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
1,1842,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_yCU3SGE,_h8VDttU,_5k2NTcp,352,148,Mises,...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
2,1197,Mises (1944: 1-19),"Indeed, Mises (1944: 1-19) explicitly cites th...",0,_ThHCvKg,_xKvBxdX,_EndqMMB,3399,1633,Mises,...,10.4324.9781315754581.pdf.grobid.tei.xml,3855,337,Knowledge Management and Organizational Learning,76.923077,0,0,Chapter 0: Introduction,0,Part 0: Introduction
3,1197,"Mises, 1944: 1-19)","(Lippmann, 1938(Lippmann, /1943: 263;: 263; em...",3,_W7w3J4K,_FXcX2C6,_mpaD3bx,3456,1675,Mises,...,10.4324.9781315754581.pdf.grobid.tei.xml,3855,337,Knowledge Management and Organizational Learning,76.923077,0,0,Chapter 0: Introduction,0,Part 0: Introduction
4,1920,"Mises's (1962, 1)","Indeed, the logical structure of the human min...",0,_JRV4vR4,_K4EEPwH,_kzagVzN,367,282,Mises,...,Ludwig-von-Mises-on-the-epistemological-founda...,533,66,Review of Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7749,2698,Mises (1904),"Similarly, Mises (1904) demonstrates how the A...",0,_pbA3PCt,_gy2jHjY,_rzTGszF,221,175,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,NaN,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7750,2698,Mises (1905a),"Mises (1905a) points out that, after the death...",0,_pbA3PCt,_gy2jHjY,_9DMuRxN,222,177,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,NaN,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7751,2698,(ibid.),"Nonetheless, Mises (ibid.)",0,_pbA3PCt,_RQbHmaX,_Pz8aAt3,224,179,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,NaN,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7752,2698,Mises (von Mises 1902),We are aware of the following six reviews ofMi...,6,NaN,_4CtFXWw,_t2fUWfj,255,194,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,NaN,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7753,2698,Mises (1904),Mises (1904) is a three-page research note tha...,0,NaN,_SQU9UVs,_wSW7FwV,256,201,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,NaN,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE

In [13]:
import pandas as pd
from itertools import combinations

rows = []

# MantÃ©m apenas linhas vÃ¡lidas
df = mises_citations_df.dropna(
    subset=[
        "paper_id",
        "raw",
        "human_action_part_number",
        "sentence_seq_number"
    ]
)

# Agrupa por paper_id
for paper_id, group in df.groupby("paper_id"):
    # Se houver menos de 2 citaÃ§Ãµes, nÃ£o hÃ¡ pares
    if len(group) < 2:
        continue

    # Gera todos os pares possÃ­veis dentro do paper
    for (_, r1), (_, r2) in combinations(group.iterrows(), 2):
        rows.append({
            "paper_id": paper_id,
            "sentence_id_1": r1["sentence_id"],
            "sentence_id_2": r2["sentence_id"],
            "raw_1": r1["raw"],
            "raw_2": r2["raw"],
            "human_action_part_number_1": r1["human_action_part_number"],
            "human_action_part_number_2": r2["human_action_part_number"],
            "distance": abs(
                r1["sentence_seq_number"] - r2["sentence_seq_number"]
            )
        })

# DataFrame final
mises_citation_pair_df = pd.DataFrame(rows)

mises_citation_pair_df.to_csv("../data/processed/mises_citation_pairs.csv")

mises_citation_pair_df.head()

,paper_id,sentence_id_1,sentence_id_2,raw_1,raw_2,human_action_part_number_1,human_action_part_number_2,distance
0,1,_szF6vj8,_Smuna6E,"Mises (1966Mises ( [1949]], p. 405)",Mises (1976Mises ( [1933] ] ),4,WHOLE,144
1,17,_mNsJv6A,_rJunZYM,"Mises (1998, p. 144)","(Mises, 1998, p. 301)",2,4,91
2,17,_mNsJv6A,_PY3B9nz,"Mises (1998, p. 144)","(Mises, 1998, p. 302)",2,4,95
3,17,_mNsJv6A,_GeRembv,"Mises (1998, p. 144)","(Mises, 1951)",2,WHOLE,167
4,17,_mNsJv6A,_2tvVbYR,"Mises (1998, p. 144)","(Mises, 2008)",2,WHOLE,61

In [14]:
import pandas as pd

# Seleciona apenas o que interessa do mises_refs_df
mises_parts = (
    mises_citations_df[
        ["sentence_id", "author", "human_action_part_number"]
    ]
    .dropna(subset=["sentence_id", "human_action_part_number"])
    .copy()
)

# Faz LEFT JOIN em refs_df
citations_df = citations_df.merge(
    mises_parts,
    on=["sentence_id", "author"],
    how="left"
)


def build_author_node(row):
    if (
        row["author"] == "Mises"
        and pd.notna(row["human_action_part_number"])
    ):
        return f"Mises_{(row['human_action_part_number'])}"
    return row["author"]


citations_df = citations_df.copy()
citations_df["author"] = citations_df.apply(build_author_node, axis=1)

In [15]:
import pandas as pd
from itertools import combinations
from collections import Counter


def build_cocitation_networks_scope_intensity(
    refs_df: pd.DataFrame,
    unit_col: str,
    min_weight: int = 2
):
    """
    Retorna dois DataFrames:
    1) scope_df     â†’ co-citaÃ§Ã£o sem repetiÃ§Ã£o (presenÃ§a por unidade)
    2) intensity_df â†’ co-citaÃ§Ã£o com repetiÃ§Ã£o (Ãªnfase retÃ³rica)

    unit_col âˆˆ {"sentence_id", "paragraph_id", "paper_id"}
    """

    # Filtra dados vÃ¡lidos
    df = (
        refs_df
        .dropna(subset=[unit_col, "author"])
        .copy()
    )

    # Agrupa autores por unidade (lista completa, com repetiÃ§Ã£o)
    authors_by_unit = (
        df
        .groupby(unit_col)["author"]
        .apply(list)
    )

    # Contadores
    scope_counter = Counter()
    intensity_counter = Counter()

    for authors in authors_by_unit:
        if len(authors) < 2:
            continue

        # ---------- SCOPE (sem repetiÃ§Ã£o) ----------
        unique_authors = sorted(set(authors))
        for a, b in combinations(unique_authors, 2):
            scope_counter[(a, b)] += 1

        # ---------- INTENSITY (com repetiÃ§Ã£o) ----------
        for a, b in combinations(sorted(authors), 2):
            if a != b:
                intensity_counter[(a, b)] += 1

    # Converte para DataFrame
    scope_df = pd.DataFrame(
        [(a, b, w) for (a, b), w in scope_counter.items()],
        columns=["source", "target", "weight"]
    ).sort_values("weight", ascending=False)

    intensity_df = pd.DataFrame(
        [(a, b, w) for (a, b), w in intensity_counter.items()],
        columns=["source", "target", "weight"]
    ).sort_values("weight", ascending=False)

    # Remove arestas fracas
    scope_df = scope_df[scope_df["weight"] >= min_weight]
    intensity_df = intensity_df[intensity_df["weight"] >= min_weight]

    return scope_df, intensity_df

In [16]:
# Sentence-level
scope_sent, intensity_sent = build_cocitation_networks_scope_intensity(
    citations_df,
    unit_col="sentence_id"
)

# Paragraph-level
scope_par, intensity_par = build_cocitation_networks_scope_intensity(
    citations_df,
    unit_col="paragraph_id"
)

# Paper-level (âš ï¸ intensidade aqui Ã© conceitualmente irrelevante)
scope_paper, _ = build_cocitation_networks_scope_intensity(
    citations_df,
    unit_col="paper_id"
)

In [17]:
scope_sent.to_csv(
    "../data/processed/network/mises_sentence_scope.txt",
    sep="\t",
    index=False,
    header=False
)

intensity_sent.to_csv(
    "../data/processed/network/mises_sentence_intensity.txt",
    sep="\t",
    index=False,
    header=False
)

scope_par.to_csv(
    "../data/processed/network/mises_paragraph_scope.txt",
    sep="\t",
    index=False,
    header=False
)

intensity_par.to_csv(
    "../data/processed/network/mises_paragraph_intensity.txt",
    sep="\t",
    index=False,
    header=False
)

scope_paper.to_csv(
    "../data/processed/network/mises_paper_scope.txt",
    sep="\t",
    index=False,
    header=False
)

In [18]:
import pandas as pd
from collections import defaultdict

UNIT_COL = "sentence_id"   # troque para paragraph_id ou paper_id se quiser

df = (
    citations_df
    .dropna(subset=[UNIT_COL, "author"])
    .copy()
)

# Agrupa autores por unidade discursiva
authors_by_unit = (
    df
    .groupby(UNIT_COL)["author"]
    .apply(set)
)

In [19]:
author_mises_counts = defaultdict(lambda: defaultdict(int))

for authors in authors_by_unit:
    mises_nodes = {a for a in authors if a.startswith("Mises_")}
    non_mises = {a for a in authors if not a.startswith("Mises_")}

    if not mises_nodes or not non_mises:
        continue

    for author in non_mises:
        for mises in mises_nodes:
            author_mises_counts[author][mises] += 1

In [20]:
author_mises_rows = []

for author, mises_dict in author_mises_counts.items():
    total = sum(mises_dict.values())
    for mises, count in mises_dict.items():
        author_mises_rows.append({
            "author": author,
            "mises_part": mises,
            "count": count,
            "percent": 100 * count / total
        })

author_mises_stats_df = pd.DataFrame(author_mises_rows)

author_mises_stats_df.head()

    author   mises_part  count    percent
0   Hering      Mises_1      2  66.666667
1   Hering  Mises_WHOLE      1  33.333333
2  Olbrich      Mises_1      2  66.666667
3  Olbrich      Mises_0      1  33.333333
4     Rapp      Mises_1      2  50.000000

In [21]:
author_mises_percent_table = (
    author_mises_stats_df
    .pivot_table(
        index="author",
        columns="mises_part",
        values="percent",
        fill_value=0
    )
)

# 1ï¸âƒ£ Calcula o total de co-citaÃ§Ãµes por autor
author_total_counts = (
    author_mises_stats_df
    .groupby("author")["count"]
    .sum()
)

# 2ï¸âƒ£ Adiciona como coluna Ã  tabela de percentuais
author_mises_percent_table = author_mises_percent_table.copy()
author_mises_percent_table["count"] = author_mises_percent_table.index.map(
    author_total_counts
)

author_mises_percent_table.head()

mises_part,Mises_0,Mises_1,Mises_2,Mises_3,Mises_4,Mises_5,Mises_6,Mises_7,Mises_WHOLE,count
author,,,,,,,,,,
A Rothbard,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,1
Aaron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,1
Acs,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,1
Action,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
Adam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,2

In [22]:
pd.set_option("display.max_rows", None)


author_mises_percent_table = author_mises_percent_table.query("count >= 20").sort_values("count", ascending=False)


author_mises_percent_table.sort_values(by='Mises_WHOLE', ascending=False).head(100)

mises_part,Mises_0,Mises_1,Mises_2,Mises_3,Mises_4,Mises_5,Mises_6,Mises_7,Mises_WHOLE,count
author,,,,,,,,,,
Foss,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,53
Knight,0.000000,4.761905,0.000000,1.904762,0.952381,0.000000,0.000000,0.000000,92.380952,105
Friedman,0.000000,2.941176,0.000000,0.000000,0.000000,0.000000,5.882353,0.000000,91.176471,34
Schumpeter,0.000000,1.162791,0.000000,2.325581,6.976744,0.000000,0.000000,0.000000,89.534884,86
Lachmann,0.000000,3.896104,0.000000,1.298701,6.493506,0.000000,0.000000,0.000000,88.311688,77
Kirzner,1.127820,1.503759,0.000000,0.375940,7.894737,0.000000,3.007519,0.751880,85.338346,266
Hayek,2.368866,3.722504,0.846024,0.000000,5.414552,1.015228,1.184433,0.507614,84.940778,591
Garrison,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,84.000000,50
Menger,0.000000,6.862745,0.980392,0.980392,5.882353,0.000000,0.000000,1.960784,83.333333,102
Buchanan,6.666667,6.666667,0.000000,0.000000,3.333333,0.000000,0.000000,0.000000,83.333333,30
Huerta de Soto,0.000000,0.000000,0.000000,0.000000,16.666667,0.000000,0.000000,0.000000,83.333333,30
Lavoie,0.000000,13.793103,3.448276,0.000000,0.000000,0.000000,0.000000,0.000000,82.758621,29
Boettke,0.000000,10.526316,3.508772,3.508772,0.000000,0.000000,0.000000,0.000000,82.456140,57
HÃ¼lsmann,0.000000,9.523810,0.000000,0.000000,9.523810,0.000000,0.000000,0.000000,80.952381,21
Ikeda,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.689655,0.000000,79.310345,29
Bawerk,0.000000,0.000000,0.000000,4.761905,14.285714,4.761905,0.000000,0.000000,76.190476,21
Smith,0.000000,0.000000,0.000000,11.538462,15.384615,0.000000,0.000000,0.000000,73.076923,26
Weber,9.677419,9.677419,0.000000,0.000000,9.677419,0.000000,0.000000,0.000000,70.967742,31
Rothbard,2.083333,8.333333,0.347222,0.347222,19.444444,0.000000,0.694444,0.694444,68.055556,288
Hoppe,20.338983,18.644068,0.000000,0.000000,6.779661,0.000000,0.000000,0.000000,54.237288,59

In [23]:
def rank_authors_by_mises_cocitation(
    refs_df: pd.DataFrame,
    unit_col: str
) -> pd.Series:
    """
    Retorna um Series:
    index = author
    value = ranking (1 = maior co-citaÃ§Ã£o com Mises)
    """

    df = (
        refs_df
        .dropna(subset=[unit_col, "author"])
        .copy()
    )

    # Agrupa autores por unidade
    authors_by_unit = (
        df
        .groupby(unit_col)["author"]
        .apply(set)
    )

    # Conta co-citaÃ§Ãµes Autor Ã— Mises (scope)
    from collections import Counter
    author_counter = Counter()

    for authors in authors_by_unit:
        mises_nodes = {a for a in authors if a.startswith("Mises_")}
        non_mises = {a for a in authors if not a.startswith("Mises_")}

        if not mises_nodes:
            continue

        for author in non_mises:
            author_counter[author] += len(mises_nodes)

    # Converte para ranking
    ranking_df = (
        pd.DataFrame(
            author_counter.items(),
            columns=["author", "count"]
        )
        .sort_values("count", ascending=False)
    )

    ranking_df["rank"] = ranking_df["count"].rank(
        method="min",
        ascending=False
    ).astype(int)

    return ranking_df.set_index("author")["rank"]

In [24]:
rank_sentence = rank_authors_by_mises_cocitation(
    citations_df, unit_col="sentence_id"
)

rank_paragraph = rank_authors_by_mises_cocitation(
    citations_df, unit_col="paragraph_id"
)

rank_section = rank_authors_by_mises_cocitation(
    citations_df, unit_col="section_id"
)

rank_paper = rank_authors_by_mises_cocitation(
    citations_df, unit_col="paper_id"
)

In [25]:
author_ranking_df = pd.DataFrame({
    "sentence": rank_sentence,
    "paragraph": rank_paragraph,
    "section": rank_section,
    "paper": rank_paper
})

author_ranking_df = author_ranking_df.sort_values(
    #by=["sentence", "paragraph", "paper"],
    by=["sentence", "paragraph", "section", "paper"]
)

author_ranking_df.head(200)

                sentence  paragraph  section  paper
author
Hayek                1.0        1.0      1.0      1
Rothbard             2.0        2.0      2.0      3
Kirzner              3.0        3.0      3.0      2
Knight               4.0        8.0     13.0     11
Menger               5.0        4.0      4.0      7
Schumpeter           6.0        5.0      6.0      6
Lachmann             7.0        6.0      7.0      8
Hoppe                8.0       11.0     12.0     14
Boettke              9.0        7.0      5.0      5
Foss                10.0        9.0      9.0     16
Garrison            11.0       12.0     16.0     17
Friedman            12.0       14.0     15.0      9
Weber               13.0       18.0     19.0     22
Buchanan            14.0       16.0     11.0     10
Huerta de Soto      14.0       22.0     45.0     57
Lavoie              16.0       13.0     10.0     13
Ikeda               16.0       29.0     52.0     78
Smith               18.0       10.0      8.0      4
HÃ¼lsmann            19.0       17.0     18.0     23
Bawerk              19.0       21.0     22.0     34
Klein               21.0       14.0     17.0     15
Selgin              21.0       20.0     20.0     36
Rizzo               21.0       35.0     33.0     65
Strigl              21.0       60.0    135.0    787
Wicksell            25.0       45.0     75.0    125
Herbener            26.0       56.0     60.0    122
Lewin               27.0       31.0     24.0     32
Robbins             27.0       33.0     34.0     27
Baumol              27.0       37.0     31.0     33
Lange               27.0       37.0     40.0     77
Salerno             31.0       18.0     14.0     12
Block               31.0       26.0     29.0     29
Hodgson             31.0       40.0     36.0     54
Keynes              34.0       35.0     21.0     24
Shane               35.0       23.0     23.0     42
Koppl               35.0       24.0     28.0     40
Bylund              35.0       31.0     39.0     70
Machlup             35.0       39.0     56.0     62
Cantillon           35.0       73.0     98.0    136
Coase               40.0       42.0     27.0     17
Marshall            40.0       73.0     81.0     68
Benson              42.0       29.0     70.0    182
Casson              42.0       47.0     85.0    104
Braun               42.0       51.0     81.0    247
Barnett             42.0       51.0     91.0    135
Nozick              42.0       72.0     89.0     94
Fetter              42.0       73.0    143.0    319
B                   48.0       51.0     83.0     43
Barzel              48.0       56.0    101.0    146
Emphasis Added      48.0       97.0     89.0    140
North               51.0       26.0     30.0     19
Nelson              51.0       47.0     48.0     45
McMullen            51.0       51.0     75.0    109
Packard             51.0       56.0    127.0    182
Shackle             51.0       62.0     47.0     41
Alchian             51.0       64.0     70.0     57
Stigler             51.0       73.0     83.0     38
And                 51.0       89.0    106.0     60
O'driscoll          59.0       46.0     53.0     64
Horwitz             59.0       49.0     43.0     47
Wieser              59.0       62.0     62.0    102
Anderson            59.0       73.0     57.0     20
Harper              59.0       73.0    115.0    111
Hutchison           59.0      103.0    118.0    177
Hazlitt             59.0      111.0    166.0    166
Hicks               59.0      121.0    101.0     79
Thomsen             59.0      175.0    220.0    370
Veblen              59.0      194.0    256.0    154
Leeson              69.0       26.0     37.0     48
Langlois            69.0       43.0     44.0     44
Williamson          69.0       44.0     25.0     21
Vaughn              69.0       69.0     49.0     52
Money               69.0       69.0    152.0    206
Holcombe            69.0       73.0     41.0     37
Clark               69.0       81.0     78.0     79
Fisher              69.0       85.0     69.0     60
Olson               69.0       89.0     78.0     63
Parsons             69.0       89.0    109.0    113
Leoni               69.0       89.0    152.0    379
Marx                69.0       97.0     64.0     66
Simons              69.0      111.0    256.0    386
Reisman             69.0      134.0    201.0    256
Hoff                69.0      134.0    248.0    636
Martin              69.0      144.0     70.0     82
Also                69.0      194.0    158.0    314
Younkins            69.0      411.0   1336.0   5259
Magill              69.0      411.0   1544.0   4515
White               88.0       25.0     26.0     26
Ebeling             88.0       40.0     31.0     50
Becker              88.0       50.0     45.0     28
Hutt                88.0       60.0    101.0    153
Scheall             88.0       69.0    135.0    386
Lawson              88.0       81.0    114.0    129
Simon               88.0       85.0     63.0     31
Penrose             88.0       97.0    184.0    133
Mirowski            88.0      125.0    122.0    115
Callahan            88.0      125.0    211.0    159
Kaser               88.0      134.0    485.0   1297
Young               88.0      144.0     67.0     76
Steele              88.0      144.0    147.0    308
Rosenberg           88.0      144.0    201.0    241
Sowell              88.0      144.0    220.0    370
Dilorenzo           88.0      162.0    152.0    202
Gunning             88.0      162.0    193.0    230
Pareto              88.0      175.0    161.0    149
Say                 88.0      194.0    288.0    247
Read                88.0      194.0    380.0    398
Pasour              88.0      194.0    380.0    437
Storr               88.0      234.0     60.0    105
Ricardo             88.0      234.0    256.0    236
Reynolds            88.0      234.0    301.0    362
Fox                 88.0      234.0    485.0    523
James               88.0      276.0    581.0    273
Shostak             88.0      335.0    277.0    593
Tullock            115.0       51.0     49.0     53
Samuelson          115.0       66.0     35.0     35
Linsbichler        115.0       66.0     94.0    217
SchÃ¼tz             115.0       66.0    115.0    283
Stiglitz           115.0       73.0     91.0     91
Boudon             115.0       89.0    124.0    354
Popper             115.0      103.0     67.0     49
Witt               115.0      103.0     86.0     84
Cohen              115.0      111.0    106.0     70
Murphy             115.0      111.0    132.0     84
Rapp               115.0      121.0    166.0    386
Searle             115.0      121.0    220.0    197
Butos              115.0      125.0    147.0    273
Wilson             115.0      125.0    161.0    120
Hirschman          115.0      125.0    173.0    171
Polleit            115.0      134.0    380.0    903
Lerner             115.0      162.0    176.0    182
Levy               115.0      175.0    201.0    157
Howden             115.0      194.0    288.0    295
Chiles             115.0      194.0    301.0    523
Cockshott          115.0      194.0    689.0    672
Furubotn           115.0      194.0    786.0    787
Akerlof            115.0      234.0    288.0    163
Niskanen           115.0      234.0    301.0    335
Ski                115.0      276.0    288.0    593
Leibenstein        115.0      276.0    337.0    453
Cf                 115.0      276.0    380.0    370
Wieloch            115.0      276.0    786.0   5259
Also Mises         115.0      276.0   1045.0   1836
Romer              115.0      335.0    256.0    171
Batemarco          115.0      411.0    786.0   1297
McFadden           115.0      411.0    786.0   1297
Ricoeur            115.0      411.0   1045.0    817
Okin               115.0      411.0   1544.0   9982
Topan              115.0      558.0    786.0   2017
Sarasvathy         150.0       56.0     88.0    113
Yeager             150.0       81.0     55.0     56
Gordon             150.0       85.0     64.0     57
Ostrom             150.0       89.0     75.0     89
Caplan             150.0       97.0     98.0     90
Lewis              150.0      103.0     78.0     70
Taylor             150.0      111.0     70.0     69
Moss               150.0      111.0    127.0    192
Crovelli           150.0      111.0    277.0    672
Fuller             150.0      121.0    127.0    319
Cheung             150.0      125.0    248.0    220
Davidson           150.0      134.0    106.0     98
Hausman            150.0      134.0    193.0    197
Demsetz            150.0      144.0     53.0     46
Prychitko          150.0      162.0    166.0    140
Sombart            150.0      162.0    248.0    379
Barney             150.0      175.0    140.0    124
Olbrich            150.0      175.0    176.0    408
Solow              150.0      175.0    193.0    122
Hering             150.0      175.0    237.0    523
Huang              150.0      175.0    337.0    473
Dickinson          150.0      175.0    406.0    573
Gane               150.0      194.0    536.0   1216
Strauss            150.0      234.0    320.0    491
Viner              150.0      234.0    441.0    473
Weick              150.0      276.0    288.0    308
Pigou              150.0      276.0    301.0    161
Sechrest           150.0      276.0    320.0    593
Dorfman            150.0      276.0    380.0    593
Dewey              150.0      276.0    441.0    523
Wimbersky          150.0      276.0    689.0   1387
Booker             150.0      276.0   1045.0   3646
Sidky              150.0      276.0   1045.0   3646
Robinson           150.0      335.0    256.0    116
Eucken             150.0      335.0    441.0    491
Follert            150.0      335.0    441.0    865
Schulak            150.0      335.0    581.0    547
Zhao               150.0      335.0    581.0    759
Fukuyama           150.0      335.0    903.0    362
Lippmann           150.0      335.0   1336.0   1297
Mitchell           150.0      411.0    152.0    100
Sugden             150.0      411.0    320.0    308
Commons            150.0      411.0    356.0    335
Schultz            150.0      411.0    356.0    423
Seligman           150.0      411.0    380.0    509
Bureaucracy        150.0      411.0    441.0    759
RÃ¶pke              150.0      411.0    581.0    453
Lsmann             150.0      411.0    581.0    731
Dahrendorf         150.0      411.0    903.0   1216
Sutter             150.0      411.0   1336.0    593
Leach              150.0      558.0    337.0    989