In [1]:
import pandas as pd

refs_df = pd.read_csv("../data/processed/refs.csv")

refs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283038 entries, 0 to 283037
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   paper_id              283038 non-null  int64
 1   raw                   282947 non-null  object
 2   context               283038 non-null  object
 3   co_cited_count        283038 non-null  int64
 4   head_id               276402 non-null  object
 5   paragraph_id          283006 non-null  object
 6   sentence_id           283038 non-null  object
 7   sentence_seq_number   283038 non-null  int64
 8   reference_seq_number  283038 non-null  int64
 9   author                224480 non-null  object
 10  page                  71459 non-null   float64
 11  year                  222562 non-null  float64
 12  title                 283038 non-null  object
 13  filename              283038 non-null  object
 14  sentence_count        283038 non-null  int64
 15  reference_count       283038 non-null  int64
 16  source title          283038 non-null  object
 17  similarity            283038 non-null  float64
dtypes: float64(3), int64(6), object(9)
memory usage: 38.9+ MB

In [2]:
refs_df

,paper_id,raw,context,co_cited_count,head_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,page,year,title,filename,sentence_count,reference_count,source title,similarity
0,1,Streissler (1972),"In particular, as the classic contributions of...",0,_gzuY8cP,_NwgSU35,_TMX2wdg,4,1,Streissler,NaN,1972.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
1,1,"(Menger, [1981] 1871, p. 49)",The final two paragraphs of the preface are a ...,1,_NytzfyY,_Z99Bvn5,_aJz9uAb,10,2,Menger,49.0,1981.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
2,1,"1871, p. 49)",The final two paragraphs of the preface are a ...,1,_NytzfyY,_Z99Bvn5,_aJz9uAb,10,3,NaN,49.0,1871.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
3,1,"(Menger, [1981] 1871, p. 48)",He also goes to some length in the preface to ...,0,_NytzfyY,_Z99Bvn5,_54sgkMV,11,4,Menger,48.0,1981.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
4,1,Menger's (1985Menger's ( [1883] ] ),A detour into Menger's (1985Menger's ( [1883] ...,0,_NytzfyY,_ZYekVnE,_F7mv66u,16,5,Menger,NaN,1883.0,Unknown Title,10.1002.9780470999059.ch17.pdf.grobid.tei.xml,298,20,Review of Austrian Economics,44.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283033,2698,Ludwig 1904;,We are aware of the following six reviews ofMi...,6,NaN,_4CtFXWw,_t2fUWfj,255,180,Ludwig,NaN,1904.0,Young Mr. Mises and younger historicists: orig...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410
283034,2698,Studnicki 1903,We are aware of the following six reviews ofMi...,6,NaN,_4CtFXWw,_t2fUWfj,255,181,Studnicki,NaN,1903.0,Young Mr. Mises and younger historicists: orig...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410
283035,2698,(Franko 1902),We are aware of the following six reviews ofMi...,6,NaN,_4CtFXWw,_t2fUWfj,255,182,Franko,NaN,1902.0,Young Mr. Mises and younger historicists: orig...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410
283036,2698,Mises (1904),Mises (1904) is a three-page research note tha...,0,NaN,_SQU9UVs,_wSW7FwV,256,183,Mises,NaN,1904.0,Young Mr. Mises and younger historicists: orig...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410
283037,2698,Kott (1996),"For more details, seeKott (1996) that compares...",0,NaN,_SQU9UVs,_9HKPgHc,258,184,Kott,NaN,1996.0,Young Mr. Mises and younger historicists: orig...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410

In [3]:
mises_refs_df = refs_df[refs_df.author == 'Mises'].sort_values(by='page')

mises_refs_df.head(100)

,paper_id,raw,context,co_cited_count,head_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,page,year,title,filename,sentence_count,reference_count,source title,similarity
97548,790,"von Mises, 1949, pp. 1-71)",Utilising the theory of human action developed...,1,_jbVejbR,_qXqcbkp,_jm2yrry,90,43,Mises,1.0,1949.0,Towards a theory of the entrepreneurial state,10.1108.eum0000000005692.pdf.grobid.tei.xml,257,71,International Journal of Social Economics,100.000000
208245,1842,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_yCU3SGE,_h8VDttU,_5k2NTcp,352,148,Mises,1.0,2011.0,Is the Austrian School Value-Free? On the Depe...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000
208411,1843,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_h8kyzQK,_w9fEYq4,_WMFnAys,352,148,Mises,1.0,2011.0,Is the Austrian School Value-Free? On the Depe...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000
165392,1392,"Mises (2011, 1-44)","In a world of national fiat currencies, a bala...",0,_GTA3FR2,_j2yjvbt,_QhFwbBe,63,16,Mises,1.0,2011.0,Austrian Monetary Theory: Comment on Pascal Sa...,Austrian-Monetary-Theory-Comment-on-Pascal-Sal...,91,22,Quarterly Journal of Austrian Economics,98.245614
161207,1354,"(Mises 2009, 1-2)","By the time he finished his studies, however, ...",0,_SpTqaws,_3j4EzME,_prAxRdp,117,52,Mises,1.0,2009.0,Are Structural Fluctuations Natural or Policy-...,Are-structural-fluctuations-natural-or-policyi...,402,94,Quarterly Journal of Austrian Economics,98.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71766,534,"Mises (1962, p. 4)",We consider Machlup as outside this tradition ...,0,_CPp6AGg,_72XQ75k,_38SyrQP,175,52,Mises,4.0,1962.0,IMPLICATIONS OF MACHLUP'S INTERPRETATION OF MI...,10.1017.S1053837214000777.pdf.grobid.tei.xml,487,149,Journal of the History of Economic Thought,97.709924
252960,2395,"Mises 1983, p. 4","Yet, so pervasive are the processes of authori...",0,_jTHTDa3,_ygmyTq5,_WfBQWqt,527,230,Mises,4.0,1983.0,The Impetus for Recognizing Private Property a...,The-impetus-for-recognizing-private-property-a...,572,46,Review of Austrian Economics,100.000000
224443,2049,"[Mises, 1949, p. 4]","As for ""the oft-repeated statement by orthodox...",1,_tTX5Tr7,_DPGpC8h,_HRpmqND,141,25,Mises,4.0,1949.0,On Meta-Preferences and Incomplete Preference ...,On-metapreferences-and-incomplete-preference-m...,157,25,International Advances in Economic Research,100.000000
224473,2050,"[Mises, 1949, p. 4]","As for ""the oft-repeated statement by orthodox...",1,_Tx9mFgK,_Yhbuth6,_4P8RCna,141,25,Mises,4.0,1949.0,On Meta-Preferences and Incomplete Preference ...,On-metapreferences-and-incomplete-preference-m...,157,25,International Advances in Economic Research,100.000000
160558,1344,(Mises 1962:4-6.),(Mises 1962:4-6.),0,_FUXyBRh,_EMqBTvg,_RbBmF6D,84,23,Mises,4.0,1962.0,Anti-Psychologism in Economics: Wittgenstein a...,Antipsychologism-in-economics-Wittgenstein-and...,598,42,Review of Austrian Economics,98.181818

In [4]:
import pandas as pd

# LÃª o arquivo assumindo que Ã© separado por vÃ­rgulas
human_action_page_ranges_df = pd.read_csv("chapter-ranges/human-action-page-to-chapter.txt")

human_action_page_ranges_df.head()

   start_page  end_page  chapter
0           0        11        0
1          11        30        1
2          30        72        2
3          72        92        3
4          92        99        4

In [5]:
def get_human_action_chapter_by_page(page):
    row = human_action_page_ranges_df[
        (human_action_page_ranges_df['start_page'] <= page) &
        (human_action_page_ranges_df['end_page'] >= page)
    ]
    if not row.empty:
        return int(row.iloc[0]['chapter'])
    else:
        return "WHOLE"  # ou vocÃª pode retornar "Desconhecido", -1, etc.

assert get_human_action_chapter_by_page(111) == 6
assert get_human_action_chapter_by_page(None) == 'WHOLE'

In [6]:
mises_refs_df['human_action_chapter_by_ref_page'] = mises_refs_df['page'].apply(get_human_action_chapter_by_page)
mises_refs_df['human_action_chapter_number'] = mises_refs_df['human_action_chapter_by_ref_page']

In [7]:
chapter_to_part_df = pd.read_csv("chapter-ranges/chapter-to-part.csv")

chapter_to_part_df.head()

,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
0,WHOLE,WHOLE,WHOLE,WHOLE
1,0,Chapter 0: Introduction,0,Part 0: Introduction
2,1,Chapter 1: Acting Man,1,Part 1: Human Action
3,2,Chapter 2: The Epistemological Problems of the...,1,Part 1: Human Action
4,3,Chapter 3: Economics and the Revolt Against Re...,1,Part 1: Human Action

In [8]:
import pandas as pd

# ðŸ”§ ForÃ§a os campos de join para string em ambos os DataFrames
mises_refs_df["human_action_chapter_number"] = (
    mises_refs_df["human_action_chapter_number"].astype(str)
)

chapter_to_part_df["human_action_chapter_number"] = (
    chapter_to_part_df["human_action_chapter_number"].astype(str)
)

# ðŸ”— Join usando merge
mises_refs_df = pd.merge(
    mises_refs_df,
    chapter_to_part_df,
    on="human_action_chapter_number",
    how="left"
)

# âœ… Existem pelo menos 2 valores de part distintos?
assert (
    mises_refs_df["human_action_part_number"]
    .nunique(dropna=True) >= 2
), "human_action_part_number nÃ£o possui pelo menos dois valores distintos"

In [9]:
mises_refs_df[mises_refs_df.human_action_chapter_number == 'WHOLE']

,paper_id,raw,context,co_cited_count,head_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,...,filename,sentence_count,reference_count,source title,similarity,human_action_chapter_by_ref_page,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
4413,2641,"Mises (1996, p. 884)","As Mises (1996, p. 884) states, 'To apply the ...",0,_vFKWFVS,_XnRFPBN,_wkb2U7y,69,32,Mises,...,Value-neutrality-and-the-question-of-ends-in-t...,423,99,Cambridge Journal of Economics,60.000000,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4414,760,"(von Mises, 1963, p. 884, emphasis in original)","(von Mises, 1963, p. 884, emphasis in original).",0,_gYvKv4K,_XcTWZtR,_bPTKVT8,104,54,Mises,...,10.1108.09513570910923033.pdf.grobid.tei.xml,380,144,"Accounting, Auditing and Accountability Journal",100.000000,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4415,927,(Mises [1949] 1966: 884),(Mises [1949] 1966: 884) Examining Rothbard's ...,0,_AYtGrJf,_yHKtjZB,_f6G6n6C,157,29,Mises,...,10.1111.j.1536-7150.2005.00397.x.pdf.grobid.te...,294,16,American Journal of Economics and Sociology,62.040816,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4416,1916,"(Mises 1966, p. 885)",But if they fail to take the best advantage of...,0,_d8gUVsx,_9SgqNxV,_3M2ZJMN,144,38,Mises,...,Ludwig-von-Mises-and-the-Austrian-School-of-Ec...,292,14,Review of Austrian Economics,44.444444,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
4417,639,"(Mises, 1998a, p. 885)","(Mises, 1998a, p. 885) Mises criticizes the ec...",0,_gr85Qfe,_4VXf7a9,_hAmUGp5,86,20,Mises,...,10.1080.0953825042000313825.pdf.grobid.tei.xml,671,58,Review of Political Economy,80.487805,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7416,2698,Mises (1902),"As discussed earlier, Mises (1902) shows how t...",0,_pbA3PCt,_gy2jHjY,_qKPdcDv,220,159,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7417,2698,Mises (1904),"Similarly, Mises (1904) demonstrates how the A...",1,_pbA3PCt,_gy2jHjY,_rzTGszF,221,160,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7418,2698,Mises (1905a),"Mises (1905a) points out that, after the death...",0,_pbA3PCt,_gy2jHjY,_9DMuRxN,222,162,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7419,2698,Mises (von Mises 1902),We are aware of the following six reviews ofMi...,6,NaN,_4CtFXWw,_t2fUWfj,255,176,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7420,2698,Mises (1904),Mises (1904) is a three-page research note tha...,0,NaN,_SQU9UVs,_wSW7FwV,256,183,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE

In [10]:
mises_refs_df.to_csv("../data/processed/mises_refs.csv")

In [11]:
mises_refs_df

,paper_id,raw,context,co_cited_count,head_id,paragraph_id,sentence_id,sentence_seq_number,reference_seq_number,author,...,filename,sentence_count,reference_count,source title,similarity,human_action_chapter_by_ref_page,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
0,790,"von Mises, 1949, pp. 1-71)",Utilising the theory of human action developed...,1,_jbVejbR,_qXqcbkp,_jm2yrry,90,43,Mises,...,10.1108.eum0000000005692.pdf.grobid.tei.xml,257,71,International Journal of Social Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
1,1842,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_yCU3SGE,_h8VDttU,_5k2NTcp,352,148,Mises,...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
2,1843,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_h8kyzQK,_w9fEYq4,_WMFnAys,352,148,Mises,...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
3,1392,"Mises (2011, 1-44)","In a world of national fiat currencies, a bala...",0,_GTA3FR2,_j2yjvbt,_QhFwbBe,63,16,Mises,...,Austrian-Monetary-Theory-Comment-on-Pascal-Sal...,91,22,Quarterly Journal of Austrian Economics,98.245614,0,0,Chapter 0: Introduction,0,Part 0: Introduction
4,1354,"(Mises 2009, 1-2)","By the time he finished his studies, however, ...",0,_SpTqaws,_3j4EzME,_prAxRdp,117,52,Mises,...,Are-structural-fluctuations-natural-or-policyi...,402,94,Quarterly Journal of Austrian Economics,98.437500,0,0,Chapter 0: Introduction,0,Part 0: Introduction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7416,2698,Mises (1902),"As discussed earlier, Mises (1902) shows how t...",0,_pbA3PCt,_gy2jHjY,_qKPdcDv,220,159,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7417,2698,Mises (1904),"Similarly, Mises (1904) demonstrates how the A...",1,_pbA3PCt,_gy2jHjY,_rzTGszF,221,160,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7418,2698,Mises (1905a),"Mises (1905a) points out that, after the death...",0,_pbA3PCt,_gy2jHjY,_9DMuRxN,222,162,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7419,2698,Mises (von Mises 1902),We are aware of the following six reviews ofMi...,6,NaN,_4CtFXWw,_t2fUWfj,255,176,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE
7420,2698,Mises (1904),Mises (1904) is a three-page research note tha...,0,NaN,_SQU9UVs,_wSW7FwV,256,183,Mises,...,Young-Mr-Mises-and-younger-historicists-origin...,263,52,The Origins of Neoliberalism: Insights from Ec...,53.237410,WHOLE,WHOLE,WHOLE,WHOLE,WHOLE

In [12]:
import pandas as pd
from itertools import combinations

rows = []

# MantÃ©m apenas linhas vÃ¡lidas
df = mises_refs_df.dropna(
    subset=[
        "paper_id",
        "raw",
        "human_action_part_number",
        "sentence_seq_number"
    ]
)

# Agrupa por paper_id
for paper_id, group in df.groupby("paper_id"):
    # Se houver menos de 2 citaÃ§Ãµes, nÃ£o hÃ¡ pares
    if len(group) < 2:
        continue

    # Gera todos os pares possÃ­veis dentro do paper
    for (_, r1), (_, r2) in combinations(group.iterrows(), 2):
        rows.append({
            "paper_id": paper_id,
            "sentence_id_1": r1["sentence_id"],
            "sentence_id_2": r2["sentence_id"],
            "raw_1": r1["raw"],
            "raw_2": r2["raw"],
            "human_action_part_number_1": r1["human_action_part_number"],
            "human_action_part_number_2": r2["human_action_part_number"],
            "distance": abs(
                r1["sentence_seq_number"] - r2["sentence_seq_number"]
            )
        })

# DataFrame final
mises_ref_pair_df = pd.DataFrame(rows)

mises_ref_pair_df.to_csv("../data/processed/mises_ref_pairs.csv")

mises_ref_pair_df

,paper_id,sentence_id_1,sentence_id_2,raw_1,raw_2,human_action_part_number_1,human_action_part_number_2,distance
0,1,_szF6vj8,_Smuna6E,"Mises (1966Mises ( [1949]], p. 405)",Mises (1976Mises ( [1933] ] ),4,WHOLE,144
1,17,_mNsJv6A,_rJunZYM,"Mises (1998, p. 144)","(Mises, 1998, p. 301)",2,4,91
2,17,_mNsJv6A,_PY3B9nz,"Mises (1998, p. 144)","(Mises, 1998, p. 302)",2,4,95
3,17,_mNsJv6A,_GeRembv,"Mises (1998, p. 144)","(Mises, 1951)",2,WHOLE,167
4,17,_mNsJv6A,_2tvVbYR,"Mises (1998, p. 144)","(Mises, 2008)",2,WHOLE,61
...,...,...,...,...,...,...,...,...
54240,2698,_rzTGszF,_t2fUWfj,Mises (1904),Mises (von Mises 1902),WHOLE,WHOLE,34
54241,2698,_rzTGszF,_wSW7FwV,Mises (1904),Mises (1904),WHOLE,WHOLE,35
54242,2698,_9DMuRxN,_t2fUWfj,Mises (1905a),Mises (von Mises 1902),WHOLE,WHOLE,33
54243,2698,_9DMuRxN,_wSW7FwV,Mises (1905a),Mises (1904),WHOLE,WHOLE,34
54244,2698,_t2fUWfj,_wSW7FwV,Mises (von Mises 1902),Mises (1904),WHOLE,WHOLE,1

In [13]:
import pandas as pd

# Seleciona apenas o que interessa do mises_refs_df
mises_parts = (
    mises_refs_df[
        ["sentence_id", "author", "human_action_part_number"]
    ]
    .dropna(subset=["sentence_id", "human_action_part_number"])
    .copy()
)

# Faz LEFT JOIN em refs_df
refs_df = refs_df.merge(
    mises_parts,
    on=["sentence_id", "author"],
    how="left"
)


def build_author_node(row):
    if (
        row["author"] == "Mises"
        and pd.notna(row["human_action_part_number"])
    ):
        return f"Mises_{(row['human_action_part_number'])}"
    return row["author"]


refs_df = refs_df.copy()
refs_df["author"] = refs_df.apply(build_author_node, axis=1)

In [14]:
import pandas as pd
from itertools import combinations
from collections import Counter


def build_cocitation_networks_scope_intensity(
    refs_df: pd.DataFrame,
    unit_col: str,
    min_weight: int = 2
):
    """
    Retorna dois DataFrames:
    1) scope_df     â†’ co-citaÃ§Ã£o sem repetiÃ§Ã£o (presenÃ§a por unidade)
    2) intensity_df â†’ co-citaÃ§Ã£o com repetiÃ§Ã£o (Ãªnfase retÃ³rica)

    unit_col âˆˆ {"sentence_id", "paragraph_id", "paper_id"}
    """

    # Filtra dados vÃ¡lidos
    df = (
        refs_df
        .dropna(subset=[unit_col, "author"])
        .copy()
    )

    # Agrupa autores por unidade (lista completa, com repetiÃ§Ã£o)
    authors_by_unit = (
        df
        .groupby(unit_col)["author"]
        .apply(list)
    )

    # Contadores
    scope_counter = Counter()
    intensity_counter = Counter()

    for authors in authors_by_unit:
        if len(authors) < 2:
            continue

        # ---------- SCOPE (sem repetiÃ§Ã£o) ----------
        unique_authors = sorted(set(authors))
        for a, b in combinations(unique_authors, 2):
            scope_counter[(a, b)] += 1

        # ---------- INTENSITY (com repetiÃ§Ã£o) ----------
        for a, b in combinations(sorted(authors), 2):
            if a != b:
                intensity_counter[(a, b)] += 1

    # Converte para DataFrame
    scope_df = pd.DataFrame(
        [(a, b, w) for (a, b), w in scope_counter.items()],
        columns=["source", "target", "weight"]
    ).sort_values("weight", ascending=False)

    intensity_df = pd.DataFrame(
        [(a, b, w) for (a, b), w in intensity_counter.items()],
        columns=["source", "target", "weight"]
    ).sort_values("weight", ascending=False)

    # Remove arestas fracas
    scope_df = scope_df[scope_df["weight"] >= min_weight]
    intensity_df = intensity_df[intensity_df["weight"] >= min_weight]

    return scope_df, intensity_df

In [15]:
# Sentence-level
scope_sent, intensity_sent = build_cocitation_networks_scope_intensity(
    refs_df,
    unit_col="sentence_id"
)

# Paragraph-level
scope_par, intensity_par = build_cocitation_networks_scope_intensity(
    refs_df,
    unit_col="paragraph_id"
)

# Paper-level (âš ï¸ intensidade aqui Ã© conceitualmente irrelevante)
scope_paper, _ = build_cocitation_networks_scope_intensity(
    refs_df,
    unit_col="paper_id"
)

In [16]:
scope_sent.to_csv(
    "../data/processed/network/mises_sentence_scope.txt",
    sep="\t",
    index=False,
    header=False
)

intensity_sent.to_csv(
    "../data/processed/network/mises_sentence_intensity.txt",
    sep="\t",
    index=False,
    header=False
)

scope_par.to_csv(
    "../data/processed/network/mises_paragraph_scope.txt",
    sep="\t",
    index=False,
    header=False
)

intensity_par.to_csv(
    "../data/processed/network/mises_paragraph_intensity.txt",
    sep="\t",
    index=False,
    header=False
)

scope_paper.to_csv(
    "../data/processed/network/mises_paper_scope.txt",
    sep="\t",
    index=False,
    header=False
)

In [17]:
import pandas as pd
from collections import defaultdict

UNIT_COL = "sentence_id"   # troque para paragraph_id ou paper_id se quiser

df = (
    refs_df
    .dropna(subset=[UNIT_COL, "author"])
    .copy()
)

# Agrupa autores por unidade discursiva
authors_by_unit = (
    df
    .groupby(UNIT_COL)["author"]
    .apply(set)
)

In [18]:
author_mises_counts = defaultdict(lambda: defaultdict(int))

for authors in authors_by_unit:
    mises_nodes = {a for a in authors if a.startswith("Mises_")}
    non_mises = {a for a in authors if not a.startswith("Mises_")}

    if not mises_nodes or not non_mises:
        continue

    for author in non_mises:
        for mises in mises_nodes:
            author_mises_counts[author][mises] += 1

In [19]:
author_mises_rows = []

for author, mises_dict in author_mises_counts.items():
    total = sum(mises_dict.values())
    for mises, count in mises_dict.items():
        author_mises_rows.append({
            "author": author,
            "mises_part": mises,
            "count": count,
            "percent": 100 * count / total
        })

author_mises_stats_df = pd.DataFrame(author_mises_rows)

author_mises_stats_df.head()

    author   mises_part  count    percent
0   Hering      Mises_1      2  66.666667
1   Hering  Mises_WHOLE      1  33.333333
2     Rapp      Mises_1      2  50.000000
3     Rapp  Mises_WHOLE      2  50.000000
4  Olbrich      Mises_1      2  66.666667

In [20]:
author_mises_percent_table = (
    author_mises_stats_df
    .pivot_table(
        index="author",
        columns="mises_part",
        values="percent",
        fill_value=0
    )
)

# 1ï¸âƒ£ Calcula o total de co-citaÃ§Ãµes por autor
author_total_counts = (
    author_mises_stats_df
    .groupby("author")["count"]
    .sum()
)

# 2ï¸âƒ£ Adiciona como coluna Ã  tabela de percentuais
author_mises_percent_table = author_mises_percent_table.copy()
author_mises_percent_table["count"] = author_mises_percent_table.index.map(
    author_total_counts
)

author_mises_percent_table.head()

mises_part,Mises_0,Mises_1,Mises_2,Mises_3,Mises_4,Mises_5,Mises_6,Mises_7,Mises_WHOLE,count
author,,,,,,,,,,
A Rothbard,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,1
Aaron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,1
Acs,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,1
Action,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
Adam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,2

In [21]:
pd.set_option("display.max_rows", None)


author_mises_percent_table = author_mises_percent_table.query("count >= 20").sort_values("count", ascending=False)


author_mises_percent_table.sort_values(by='Mises_WHOLE', ascending=False).head(100)

mises_part,Mises_0,Mises_1,Mises_2,Mises_3,Mises_4,Mises_5,Mises_6,Mises_7,Mises_WHOLE,count
author,,,,,,,,,,
Foss,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,53
Knight,0.000000,4.761905,0.000000,1.904762,0.952381,0.000000,0.000000,0.000000,92.380952,105
Friedman,0.000000,2.941176,0.000000,0.000000,0.000000,0.000000,5.882353,0.000000,91.176471,34
Schumpeter,0.000000,1.162791,0.000000,2.325581,6.976744,0.000000,0.000000,0.000000,89.534884,86
Lachmann,0.000000,3.896104,0.000000,1.298701,6.493506,0.000000,0.000000,0.000000,88.311688,77
Kirzner,1.162791,0.775194,0.000000,0.387597,6.976744,0.000000,3.100775,0.775194,86.821705,258
Lavoie,0.000000,14.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85.714286,28
Boettke,0.000000,10.909091,1.818182,1.818182,0.000000,0.000000,0.000000,0.000000,85.454545,55
Hayek,2.380952,3.741497,0.850340,0.000000,5.102041,1.020408,1.190476,0.510204,85.204082,588
Garrison,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,84.000000,50
Buchanan,6.666667,6.666667,0.000000,0.000000,3.333333,0.000000,0.000000,0.000000,83.333333,30
Menger,0.000000,6.862745,0.980392,0.980392,5.882353,0.000000,0.000000,1.960784,83.333333,102
Ikeda,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.689655,0.000000,79.310345,29
Bawerk,0.000000,0.000000,0.000000,4.761905,14.285714,4.761905,0.000000,0.000000,76.190476,21
Lsmann,0.000000,8.333333,0.000000,0.000000,16.666667,0.000000,0.000000,0.000000,75.000000,24
Smith,0.000000,0.000000,0.000000,11.538462,15.384615,0.000000,0.000000,0.000000,73.076923,26
Weber,9.677419,9.677419,0.000000,0.000000,9.677419,0.000000,0.000000,0.000000,70.967742,31
Rothbard,2.135231,6.761566,0.355872,0.355872,19.217082,0.000000,0.711744,0.711744,69.750890,281
Hoppe,21.428571,14.285714,0.000000,0.000000,7.142857,0.000000,0.000000,0.000000,57.142857,56

In [22]:
def rank_authors_by_mises_cocitation(
    refs_df: pd.DataFrame,
    unit_col: str
) -> pd.Series:
    """
    Retorna um Series:
    index = author
    value = ranking (1 = maior co-citaÃ§Ã£o com Mises)
    """

    df = (
        refs_df
        .dropna(subset=[unit_col, "author"])
        .copy()
    )

    # Agrupa autores por unidade
    authors_by_unit = (
        df
        .groupby(unit_col)["author"]
        .apply(set)
    )

    # Conta co-citaÃ§Ãµes Autor Ã— Mises (scope)
    from collections import Counter
    author_counter = Counter()

    for authors in authors_by_unit:
        mises_nodes = {a for a in authors if a.startswith("Mises_")}
        non_mises = {a for a in authors if not a.startswith("Mises_")}

        if not mises_nodes:
            continue

        for author in non_mises:
            author_counter[author] += len(mises_nodes)

    # Converte para ranking
    ranking_df = (
        pd.DataFrame(
            author_counter.items(),
            columns=["author", "count"]
        )
        .sort_values("count", ascending=False)
    )

    ranking_df["rank"] = ranking_df["count"].rank(
        method="min",
        ascending=False
    ).astype(int)

    return ranking_df.set_index("author")["rank"]

In [23]:
rank_sentence = rank_authors_by_mises_cocitation(
    refs_df, unit_col="sentence_id"
)

rank_paragraph = rank_authors_by_mises_cocitation(
    refs_df, unit_col="paragraph_id"
)

rank_head = rank_authors_by_mises_cocitation(
    refs_df, unit_col="head_id"
)

rank_paper = rank_authors_by_mises_cocitation(
    refs_df, unit_col="paper_id"
)

In [25]:
author_ranking_df = pd.DataFrame({
    "sentence": rank_sentence,
    "paragraph": rank_paragraph,
    "head": rank_head,
    "paper": rank_paper
})

author_ranking_df = author_ranking_df.sort_values(
    #by=["sentence", "paragraph", "paper"],
    by=["paper", "paragraph", "head", "paper"]
)

author_ranking_df.head(200)

                sentence  paragraph   head  paper
author
Hayek                1.0        1.0    1.0      1
Kirzner              3.0        3.0    3.0      2
Rothbard             2.0        2.0    2.0      3
Smith               17.0       11.0    8.0      4
Boettke              9.0        7.0    5.0      5
Schumpeter           6.0        5.0    6.0      6
Menger               5.0        4.0    4.0      7
Lachmann             7.0        6.0    7.0      8
Friedman            12.0       15.0   15.0      9
Buchanan            14.0       17.0   12.0     10
Knight               4.0        8.0   13.0     11
Salerno             33.0       19.0   14.0     12
Lavoie              16.0       14.0   11.0     13
Hoppe                8.0       10.0   10.0     14
Klein               20.0       13.0   17.0     15
Foss                10.0        9.0    9.0     16
Coase               42.0       41.0   26.0     17
Garrison            11.0       12.0   16.0     18
Lsmann              18.0       16.0   18.0     19
North               52.0       26.0   30.0     20
Anderson            61.0       73.0   55.0     21
Williamson          71.0       42.0   24.0     22
Weber               13.0       18.0   19.0     23
Keynes              33.0       33.0   21.0     24
Wagner             224.0      107.0   36.0     25
White               89.0       24.0   26.0     26
Robbins             26.0       31.0   34.0     27
Becker              89.0       50.0   42.0     28
Block               31.0       25.0   28.0     29
Simon               89.0       87.0   62.0     30
Caldwell           224.0       38.0   45.0     31
Baumol              26.0       35.0   31.0     32
Lewin               26.0       31.0   25.0     33
Samuelson          114.0       65.0   34.0     33
Bawerk              19.0       21.0   22.0     35
Selgin              20.0       20.0   20.0     36
Holcombe            71.0       73.0   41.0     37
Stigler             52.0       73.0   82.0     38
Arrow              436.0       99.0   65.0     38
Http                 NaN      552.0  158.0     40
Koppl               35.0       23.0   29.0     41
Shackle             52.0       63.0   45.0     42
B                   49.0       52.0   83.0     43
Shane               35.0       22.0   23.0     44
Nelson              52.0       45.0   47.0     45
Langlois            71.0       42.0   44.0     46
Demsetz            152.0      143.0   53.0     47
Horwitz             61.0       50.0   42.0     48
Leeson              71.0       29.0   40.0     49
Popper             114.0      107.0   68.0     50
Tullock            114.0       52.0   47.0     51
Blaug              436.0       94.0   49.0     51
Ebeling             89.0       38.0   37.0     53
Hodgson             31.0       40.0   33.0     54
Wright             436.0      175.0   58.0     55
Vaughn              71.0       70.0   51.0     56
Yeager             152.0       84.0   55.0     57
Alchian             52.0       65.0   72.0     58
Gordon             152.0       84.0   64.0     59
And                 52.0       87.0  104.0     60
Machlup             35.0       37.0   54.0     61
Fisher              71.0       84.0   68.0     61
Olson               71.0       87.0   79.0     63
O'driscoll          61.0       44.0   52.0     64
Rizzo               20.0       33.0   32.0     65
Miller             436.0      552.0  152.0     66
Marshall            40.0       73.0   80.0     67
Marx                71.0       94.0   65.0     68
Cohen              114.0      107.0  104.0     69
Taylor             152.0      117.0   72.0     69
Lucas                NaN       80.0  100.0     71
Cowen                NaN      143.0   89.0     71
Bylund              35.0       29.0   38.0     73
Polanyi            224.0       99.0   95.0     73
Lewis              152.0      117.0   85.0     75
Young               89.0      143.0   67.0     76
Lange               26.0       35.0   38.0     77
Ikeda               15.0       26.0   49.0     78
Clark               71.0       80.0   77.0     79
Mill               224.0      121.0  108.0     80
Hicks               61.0      117.0  110.0     81
Martin              71.0      143.0   68.0     82
Brown              224.0      121.0  121.0     83
Murphy             114.0      107.0  134.0     84
Jones              436.0      336.0  233.0     85
Witt               114.0       99.0   85.0     86
Ostrom             152.0       87.0   77.0     87
McCloskey            NaN      410.0  130.0     87
Https                NaN      810.0  199.0     89
Jensen             436.0      143.0  123.0     90
Evans                NaN      237.0  210.0     90
Caplan             152.0       94.0  104.0     92
Stiglitz           114.0       73.0   89.0     93
Nozick              42.0       80.0   92.0     94
Vanberg            224.0       65.0   63.0     95
Granovetter          NaN      410.0  143.0     96
Acemoglu             NaN     1520.0  118.0     97
Coyne                NaN       94.0   72.0     98
Sen                224.0      143.0  110.0     99
Powell             224.0      277.0  116.0     99
Mitchell           152.0      410.0  152.0     99
Ibid.               52.0       49.0   57.0    102
Davidson           152.0      175.0  113.0    102
Huerta de Soto      26.0       48.0   89.0    104
Wieser              61.0       63.0   60.0    104
Johnson            224.0      410.0  130.0    104
Alvarez            224.0      137.0   84.0    107
Casson              42.0       45.0   85.0    108
Storr               89.0      237.0   60.0    108
Davis                NaN      336.0  193.0    110
Hall               436.0      410.0  320.0    110
McMullen            52.0       52.0   72.0    112
Mueller              NaN      143.0   95.0    112
Harper              61.0       73.0  116.0    114
Epstein              NaN      336.0  185.0    114
Sarasvathy         152.0       56.0   85.0    116
Parsons             71.0       99.0  113.0    117
Swedberg           436.0      175.0  113.0    118
Mirowski            89.0      121.0  124.0    119
Higgs              224.0      336.0  100.0    119
Robinson           152.0      336.0  253.0    119
Williams             NaN      552.0  162.0    119
Allen              436.0      193.0  140.0    123
Wilson             114.0      121.0  162.0    124
Solow              152.0      175.0  193.0    124
Wicksell            24.0       45.0   72.0    126
Barney             152.0      175.0  140.0    126
Herbener            25.0       56.0   59.0    128
Boulding           224.0      163.0  134.0    128
Grossman           436.0      237.0  253.0    130
Lee                  NaN      410.0  215.0    130
Coleman            224.0      237.0  130.0    132
Lawson             436.0       99.0  122.0    133
Baker                NaN        NaN  273.0    133
Porter             436.0      237.0  140.0    135
Fama                 NaN      810.0  215.0    135
Penrose             89.0       94.0  185.0    137
A                    NaN      121.0  158.0    137
Cachanosky         224.0      193.0  162.0    139
Barnett             42.0       60.0   94.0    140
Kahneman           224.0      810.0  176.0    140
Cantillon           35.0       80.0  104.0    142
Frank              436.0      810.0  233.0    142
Loasby             224.0      143.0  134.0    144
Prychitko          152.0      163.0  168.0    144
Emphasis Added      49.0      107.0   92.0    146
Durkheim           224.0       99.0  110.0    147
Kim                436.0      193.0  353.0    147
Barzel              49.0       56.0  100.0    149
Economics          436.0      163.0  152.0    149
Hart               436.0      277.0  376.0    149
Posner             224.0      237.0  176.0    152
Pareto              89.0      175.0  162.0    153
Davidsson          224.0      237.0  185.0    153
Roberts              NaN      552.0  320.0    153
Hutt                89.0       60.0  100.0    156
Long               436.0      143.0  148.0    157
Veblen              61.0      193.0  253.0    157
March                NaN      810.0  185.0    159
Gray                 NaN      336.0  215.0    160
Callahan            89.0      121.0  210.0    161
Krugman              NaN      810.0  215.0    161
Levy               114.0      175.0  199.0    163
Pigou              152.0      277.0  298.0    163
McCaffrey            NaN      552.0  162.0    165
Audretsch            NaN     1520.0  353.0    165
Akerlof            114.0      237.0  284.0    167
Hazlitt             61.0      107.0  168.0    168
Thompson           224.0      193.0  284.0    169
Thomas             436.0      810.0  253.0    169
Mises'               NaN       87.0  118.0    171
Hirschman          114.0      121.0  173.0    171
Kant                 NaN      175.0  108.0    171
Romer              114.0      336.0  253.0    171
Baron                NaN      552.0  253.0    171
Acs                436.0      810.0  440.0    171
Scott                NaN     1520.0  402.0    171
Wood               436.0      121.0  168.0    178
Brennan            224.0      277.0  199.0    178
Stringham            NaN      552.0  210.0    178
N                    NaN      552.0  273.0    178
Hutchison           61.0       99.0  120.0    182
Rawls              224.0      552.0  402.0    182
Benson              42.0       26.0   68.0    184
Packard             52.0       56.0  126.0    184
Elster             436.0      237.0  158.0    184
Mankiw               NaN      552.0  284.0    184
Bagus              224.0      107.0   95.0    188
Sautet               NaN      143.0  130.0    188
Lerner             114.0      163.0  176.0    188
Merton             224.0      163.0  199.0    188
Barro                NaN      193.0  176.0    188
Parker               NaN      552.0  440.0    188
Thaler               NaN      810.0  253.0    188
Gwartney             NaN      193.0  199.0    195
Giddens            224.0      143.0  134.0    196
Chandler           436.0      336.0  483.0    196
Eisenhardt         436.0      810.0  483.0    196
Gartner            436.0       99.0  143.0    199
Moss               152.0      107.0  126.0    199