In [10]:
import pandas as pd 

mises_refs_df = pd.read_csv("../data/processed/mises_refs.csv")

In [11]:
mises_refs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7421 entries, 0 to 7420
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        7421 non-null   int64
 1   paper_id                          7421 non-null   int64
 2   raw                               7421 non-null   object
 3   context                           7421 non-null   object
 4   co_cited_count                    7421 non-null   int64
 5   sentence_id                       7421 non-null   object
 6   sentence_seq_number               7421 non-null   int64
 7   reference_seq_number              7421 non-null   int64
 8   author                            7421 non-null   object
 9   page                              4524 non-null   float64
 10  year                              7164 non-null   float64
 11  title                             7421 non-null   object
 12  filename                          7421 non-null   object
 13  sentence_count                    7421 non-null   int64
 14  reference_count                   7421 non-null   int64
 15  source title                      7421 non-null   object
 16  similarity                        7421 non-null   float64
 17  human_action_chapter_by_ref_page  7421 non-null   object
 18  human_action_chapter_number       7421 non-null   object
 19  human_action_chapter_name         7421 non-null   object
 20  human_action_part_number          7421 non-null   object
 21  human_action_part_name            7421 non-null   object
dtypes: float64(3), int64(7), object(12)
memory usage: 1.2+ MB

In [12]:
mises_refs_df.head()

,Unnamed: 0,paper_id,raw,context,co_cited_count,sentence_id,sentence_seq_number,reference_seq_number,author,page,...,filename,sentence_count,reference_count,source title,similarity,human_action_chapter_by_ref_page,human_action_chapter_number,human_action_chapter_name,human_action_part_number,human_action_part_name
0,0,790,"von Mises, 1949, pp. 1-71)",Utilising the theory of human action developed...,1,_jm2yrry,90,43,Mises,1.0,...,10.1108.eum0000000005692.pdf.grobid.tei.xml,257,71,International Journal of Social Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
1,1,1842,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_5k2NTcp,352,148,Mises,1.0,...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
2,2,1843,"(Mises 2011, 1)","Interventionism, for its part, ""seeks to retai...",0,_WMFnAys,352,148,Mises,1.0,...,IS-THE-AUSTRIAN-SCHOOL-VALUEFREE-ON-THE-DEPEND...,458,87,Quarterly Journal of Austrian Economics,100.000000,0,0,Chapter 0: Introduction,0,Part 0: Introduction
3,3,1392,"Mises (2011, 1-44)","In a world of national fiat currencies, a bala...",0,_QhFwbBe,63,16,Mises,1.0,...,Austrian-Monetary-Theory-Comment-on-Pascal-Sal...,91,22,Quarterly Journal of Austrian Economics,98.245614,0,0,Chapter 0: Introduction,0,Part 0: Introduction
4,4,1354,"(Mises 2009, 1-2)","By the time he finished his studies, however, ...",0,_prAxRdp,117,52,Mises,1.0,...,Are-structural-fluctuations-natural-or-policyi...,402,94,Quarterly Journal of Austrian Economics,98.437500,0,0,Chapter 0: Introduction,0,Part 0: Introduction

In [13]:
import pandas as pd

# Remove linhas sem chapter
df = mises_refs_df.dropna(subset=["paper_id", "human_action_part_name"])


# Cria matriz paper × chapter (binária)
pca_input_df = (
    pd.crosstab(
        index=df["paper_id"],
        columns=df["human_action_part_name"]
    )
    .astype(int)
)

pca_input_df.head()

human_action_part_name,Part 0: Introduction,Part 1: Human Action,Part 2: Action Within the Framework of Society,Part 3: Economic Calculation,Part 4: Catallatics,Part 5: Social Cooperation without a Market,Part 6: The Hampered Market Economy,Part 7: The Place of Economics in Society,WHOLE
paper_id,,,,,,,,,
1,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,1

In [19]:
import pandas as pd

# Remove linhas sem paper ou parte
df = mises_refs_df.dropna(subset=["paper_id", "human_action_part_name"])

# Matriz paper × part (contagem absoluta)
count_df = pd.crosstab(
    index=df["paper_id"],
    columns=df["human_action_part_name"]
)

# Normaliza por linha para obter percentuais (soma = 100%)
pca_input_df = count_df.div(count_df.sum(axis=1), axis=0) * 100

pca_input_df.head()

human_action_part_name,Part 0: Introduction,Part 1: Human Action,Part 2: Action Within the Framework of Society,Part 3: Economic Calculation,Part 4: Catallatics,Part 5: Social Cooperation without a Market,Part 6: The Hampered Market Economy,Part 7: The Place of Economics in Society,WHOLE
paper_id,,,,,,,,,
1,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,50.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0

In [20]:
# PADRONIZAR

from sklearn.preprocessing import StandardScaler

X = pca_input_df.values
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [21]:
# RODAR

from sklearn.decomposition import PCA

# Escolha inicial: 2 componentes (exploratória)
pca = PCA(n_components=7, random_state=42)
X_pca = pca.fit_transform(X_scaled)

In [22]:
# SCORES

pca_scores_df = pd.DataFrame(
    X_pca,
    index=pca_input_df.index,
    columns=["PC1", "PC2", "PC3", "PC4", "PC5", "PC6", "PC7"]
)

pca_scores_df.head()

               PC1       PC2       PC3       PC4       PC5       PC6       PC7
paper_id
1        -0.215028  1.176445 -0.453039 -0.101300 -0.262656 -0.175438 -0.161303
2         1.331492 -0.008560 -0.013410 -0.022843  0.067120  0.029525  0.019093
5         1.331492 -0.008560 -0.013410 -0.022843  0.067120  0.029525  0.019093
11        1.331492 -0.008560 -0.013410 -0.022843  0.067120  0.029525  0.019093
12        1.331492 -0.008560 -0.013410 -0.022843  0.067120  0.029525  0.019093

In [23]:
# VARIANCIA

explained_variance_df = pd.DataFrame({
    "PC": ["PC1", "PC2", "PC3", "PC4", "PC5", "PC6", "PC7"],
    "explained_variance_ratio": pca.explained_variance_ratio_,
    "explained_variance_cumulative": pca.explained_variance_ratio_.cumsum()
})

explained_variance_df

    PC  explained_variance_ratio  explained_variance_cumulative
0  PC1                  0.196494                       0.196494
1  PC2                  0.130775                       0.327268
2  PC3                  0.120580                       0.447849
3  PC4                  0.114673                       0.562522
4  PC5                  0.112479                       0.675001
5  PC6                  0.110933                       0.785934
6  PC7                  0.108764                       0.894698

In [24]:
# LOADINGS

loadings_df = pd.DataFrame(
    pca.components_.T,
    index=pca_input_df.columns,
    columns=["PC1", "PC2", "PC3", "PC4", "PC5", "PC6", "PC7"]
)

loadings_df.sort_values("PC1", ascending=False).head(100)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7
human_action_part_name,,,,,,,
WHOLE,0.750123,-0.007888,-0.027633,-0.023030,0.046599,0.011232,0.033840
Part 5: Social Cooperation without a Market,-0.060069,0.012585,0.579216,0.159550,-0.440818,-0.103846,0.175000
Part 7: The Place of Economics in Society,-0.078993,0.066367,0.313072,-0.199442,0.617798,-0.024861,-0.591472
Part 6: The Hampered Market Economy,-0.121415,0.098678,0.674885,-0.123924,0.000014,-0.102765,0.067943
Part 3: Economic Calculation,-0.134710,-0.071349,0.036563,0.862408,0.054235,0.319075,-0.269028
Part 0: Introduction,-0.158353,-0.308304,-0.015614,-0.405155,-0.432262,0.601395,-0.354053
Part 2: Action Within the Framework of Society,-0.208838,0.053502,0.060131,-0.082363,0.437661,0.556461,0.628899
Part 4: Catallatics,-0.396383,0.703862,-0.282698,-0.063226,-0.164536,-0.114778,-0.084113
Part 1: Human Action,-0.410817,-0.622263,-0.158578,-0.014151,0.115853,-0.437726,0.115997